<div class="all">

  <div class="header">
    <nav class="navbar">
      <span>Navbar</span>
    </nav>
  </div>

  <div class="content-fluid">
    <div class="page-sidebar sidebar">
        <ul class="nav nav-pills nav-stacked" id="sidebar-stacked">
          <li class="d-lg-none">
            <a href="#" class="sidebar-close"><i class="ion ion-ios-arrow-left"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="index.html"><i class="ion ion-ios-home"></i> <span class="nav-text">Dashboard</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="index.html"><i class="ion ion-ios-home"></i> <span class="nav-text">Dashboard</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="index.html"><i class="ion ion-ios-home"></i> <span class="nav-text">Dashboard</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="index.html"><i class="ion ion-ios-home"></i> <span class="nav-text">Dashboard</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="index.html"><i class="ion ion-ios-home"></i> <span class="nav-text">Dashboard</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="index.html"><i class="ion ion-ios-home"></i> <span class="nav-text">Dashboard</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="index.html"><i class="ion ion-ios-home"></i> <span class="nav-text">Dashboard</span></a>
          </li>
        </ul>
      </div>

      <div class="page-content">

      </div>
  </div>

</div>
