@import "../shared/sass/_variaveis";

.all {
  padding:0 50px;
}

.header {
  background: $verde;
  height: 280px;
  margin:0 -50px;
  position: relative;
}

.navbar {
  padding:0 50px;
  color: $branco;
}

.sidebar {
  width: 15%;
  height: 100%;
  float: left;
  margin-top: 70px;
  overflow: auto;
  display: none;
  position: fixed;
  ul {
    display: block;
  }
  a{
    padding-left: 0px;
  }
  @media(min-width: $xl) {
    width: 10%;
    height: 100%;
    float: left;
    margin-top: 70px;
    display: block;
    overflow: auto;
  }
}

.page-content {
  width: 100%;
  margin: -70px 0 30px;
  min-height: 700px;
  background: $branco;
  box-shadow: 1px 0px 6px;
  position: relative;
  @media(min-width: $xl) {
    width: 90%;
    margin-left: 145px;
  }
}
