@import "../../shared/sass/_variaveis";

.sidebar {
  width: 15%;
  height: 100%;
  float: left;
  overflow: auto;
  display: none;
  position: fixed;
  @media(min-width: $xl) {
    width: 10%;
    height: 100%;
    float: left;
    margin-top: 70px;
    display: block;
    overflow: auto;
  }
}

.sidebar-ul {
  list-style: none!important;
  background: #000 !important;
  border: 1px solid red;
  padding: 0;
  margin: 15px 0 0;
  li {
    margin: 10px 0;
    a{
      padding-left: 0px;
    }
  }
}
